<launch>

	<arg name="gui"        default="true"/>
	<arg name="world_file" default="$(find csuro_robots)/worlds/GrannyAnnie.world" />

	<!-- Robot initial pose -->
	<arg name="posx" default="0.0"/>
	<arg name="posy" default="0.0"/>
	<arg name="posYaw" default="3.1416"/>

	<arg name="base"       value="$(optenv TURTLEBOT_BASE kobuki)"/> <!-- create, roomba -->
  <arg name="battery"    value="$(optenv TURTLEBOT_BATTERY /proc/acpi/battery/BAT0)"/>  <!-- /proc/acpi/battery/BAT0 -->
  <arg name="stacks"     value="$(optenv TURTLEBOT_STACKS hexagons)"/>  <!-- circles, hexagons -->
  <arg name="3d_sensor"  value="$(optenv TURTLEBOT_3D_SENSOR asus_xtion_pro)"/>  <!-- kinect, asus_xtion_pro -->

	<!-- Load the World -->

	<include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="use_sim_time" value="true"/>
    <arg name="debug" value="false"/>
    <arg name="gui" value="$(arg gui)" />
    <arg name="world_name" value="$(arg world_file)"/>
  </include>

	<!-- Robot kobuki -->

	<include file="$(find first_robot_gazebo)/launch/includes/kobuki.launch.xml">
    <arg name="base" value="$(arg base)"/>
    <arg name="stacks" value="$(arg stacks)"/>
    <arg name="3d_sensor" value="$(arg 3d_sensor)"/>
		<arg name="posx" value="$(arg posx)"/>
		<arg name="posy" value="$(arg posy)"/>
		<arg name="posYaw" value="$(arg posYaw)"/>
  </include>

	<node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher">
    <param name="publish_frequency" type="double" value="30.0" />
  </node>

	<node pkg="tf" type="static_transform_publisher" name="bf2camera"
    args="-0.015 0.0035 0.004 0 0 0 base_footprint camera_link 100"/>

  <node pkg="tf" type="static_transform_publisher" name="bf2laser"
    args="0 0 0.4 0 0 0 base_footprint rplidar_link 100"/>

	<node pkg="tf" type="static_transform_publisher" name="laser2map"
    args="0 0 0 0 0 0 rplidar_link map 100"/>

</launch>
