<launch>

	<include file="$(find gazebo_ros)/launch/empty_world.launch">
		<arg name="world_name" value="$(find first_robot_gazebo)/worlds/first_world.world" />
	</include>

	<include file="$(find robots)/launch/includes/robot.launch.xml">
      <arg name="posx" value="0.0"/>
      <arg name="posy" value="0.0"/>
      <arg name="posYaw" value="1.1416"/>
    </include>

</launch>
