<launch>

	<arg name="world_name" default="$(find csuro_robots)/worlds/GrannyAnnie.world" />

	<!-- Robot initial pose -->
	<arg name="posx" default="0.0"/>
	<arg name="posy" default="0.0"/>
	<arg name="posYaw" default="3.1416"/>

	<include file="$(find turtlebot_gazebo)/launch/turtlebot_world.launch">
		<arg name="world_file" value="$(arg world_name)" />

		<!-- Robot initial pose -->
		<arg name="posx" value="$(arg posx)"/>
		<arg name="posy" value="$(arg posy)"/>
		<arg name="posYaw" value="$(arg posYaw)"/>
    </include>

</launch>
